@mixin text-style($color, $fontsize, $fontfamily){
    color: $color;
    font-size: $fontsize;
    font-family: $fontfamily;
}

.texts{
    h1{
        @include text-style(#ff4043, 34px, Arial)
    }
    p{
        @include text-style(blue, 22px, sans-serif)
    }
}